<p id="notice"><%= notice %></p>

<h1>Listing Boxes</h1>
<div class="row" id="tree_vue">
  <div class="col-sm-4">
    <div id="tree"></div>
    <%= text_field_tag "new_folder_label", "", "v-model": "newFolderLabel" %>
    <%= button_tag "追加", "v-on:click": "addFolder" %>
  </div>

  <div class="col-sm-8">
    <div id="data_ajax">
      <%= render partial: 'list' %>
    </div>

    <br>
    <a v-on:click="createBox" v-bind:style="styleObject">New Box</a>
  </div>
</div>
